:root {
  --text-primary: #ffffff;
  --text-secondary: #c6c6c6;
  --bg-primary: #212121;
  --bg-secondary: #37474f;
  --border-primary: #757575;
}
* {
  transition: background-color linear 0.3s, color linear 0.05s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
